h1 {
  font-family: Helvetica, Times, Georgia;
}

h2 {
  font-family: Helvetica, Times, Georgia;
  color: #565858;
}

h3 {
  font-family: Helvetica, Times, Georgia;
  color: #565858;
}

h4 {
  font-family: Courier, Georgia, Times, Helvetica;
  color: #565858;
}

h5 {
  font-family: Georgia, Times, Helvetica;
  color: #565858;
}

h6 {
  font-family: Times, Georgia, Helvetica;
  color: #565858;
}

ul-comment {
  background-color: #CAE6E6;
}

a:hover {
  cursor: pointer;
  text-decoration: underline;
}
