<h1>Hacker-News-Esque</h1>

<div ng-show="links.length">
  <h3>All Links (ranked by score)</h3>
  <ul>
    <li ng-repeat="item in links">
      {{ item.title }} {{ "(" + item.url + ")" }}
        <a ng-click="findLinkByID(item.id).upvote()">upvote </a>
        {{ item.upvotesCount }}
        <!-- <a ng-click="findLinkByID(item.id).upvote()">upvote </a> -->
    </li>
  </ul>
</div>

<div class "col-md-4">
  <h3>Add a new link</h3>
  <form ng-submit="LinksFactory.addLink()" class="form-inline" role="form">
    <div class="form-group">
      <label for="link-title">Title: </label>
      <input id="link-title" type="text" ng-model="LinksFactory.linkTitle"
        class="form-control" placeholder="Enter a link title" />
    </div>
    <div class="form-group">
      <label for="link-url">Title: </label>
      <input id="link-url" type="text" ng-model="LinksFactory.linkURL"
        class="form-control" placeholder="Enter a link URL" />
    </div>
    <button type="submit" class="btn btn-success">Add</button>
  </form>
</div>
